<div class="signup-modal">
  <div class="message">
    <%= icon('fas', 'times', class: 'signup-close') %>
    <div class="left-image" style="background-image: url(<%= asset_path('art.png') %>)"></div>
    <div class="message-wrapper">
      <div class="main-message">
        <%= form_tag(search_index_path, method: "get", class: 'signup-form') do %>
          <h1>By having a Reddit account, you can join, vote, and comment on all your favorite Reddit content.</h1>
          <div class="description"></div>
          <%= field_set_tag nil, class: 'email-field' do %>
            <%= text_field_tag :email, '', onkeyup: "this.setAttribute('value', this.value)", autocomplete: "off" %>
            <%= label_tag 'email', 'EMAIL' %>
          <% end %>
          <%= submit_tag 'NEXT', class: 'submit', data: 'email_signup'%>
          <span>Already a Redditor? <a href="#">LOG IN</a></span>
          <p>By clicking next, you agree to our <a href="#">Terms</a> and that you have read our <a href="#">Privacy Policy</a> and <a href="#">Content Policy</a>.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
