<div class="upvotes">
  <div class="counter">
    <a href="#" class="anchor-icon">
      <%= icon('fas', 'arrow-alt-circle-up') %>
    </a>
    <span><%= post.upvotes %></span>
    <a href="#" class="anchor-icon">
      <%= icon('fas', 'arrow-alt-circle-down') %>
    </a>
  </div>
</div>
<div class="post">
  <div class="info">
    <a href="#">
      <span class="posted-by">Posted by u/<%= "#{post.user.name}" %> </span>
    </a>
    <a href="#" title="<%= post.created_at %>">
      <span class="posted-time"><%= "#{time_since(post.created_at)}" %></span>
    </a>
  </div>
  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
</div>
