<div class="sidebar">
  <%= render  "common/capsule", inside: 'create' %>
  <%= link_to image_tag('sena.png') %>
  <%= render  "common/capsule", inside: 'rules' %>
  <%= render  "common/capsule", inside: 'important' %>
  <%= render  "common/capsule", inside: 'announcements' %>
  <%= render  "common/capsule", inside: 'information' %>
  <%= render  "common/capsule", inside: 'matches' %>
  <%= render  "common/capsule", inside: 'wiki' %>
  <%= render  "common/capsule", inside: 'ama' %>
  <%= render  "common/capsule", inside: 'resources' %>
  <%= render  "common/capsule", inside: 'moderators' %>
  
</div>